</div> <footer>
        <p>&copy; <%= new Date().getFullYear() %> Ulasbuku</p>
    </footer>
    <script src="/js/theme.js"></script>
    <script src="/js/feed_interactions.js"></script>
    <script src="/js/nav.js"></script>
</body>
</html>